
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

//color
$blue:#3490dc;
$red:#e3342f;
$green:#31df79;
$cyan:#2ed7dd;

.text-blue{
    color:$blue;
}

.text-red{
    color:$red;
}
.text-cyan{
    color:$cyan;
}

.text-green{
    color:$green;
}